@font-face {
  font-family: "OpenSansRegular";
  font-weight: 400;
  src:  url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf"),
}

@font-face {
  font-family: "OpenSansbold";
  font-weight: 700;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("ttf"),
}

@font-face {
  font-family: "Montserat";
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf"),
}