.header {
  width: 100vw;
  height: 100vh;
  background: url(../../../images/header-bg.jpg) center/cover no-repeat;
  &__container {
    max-width: 85%;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}